*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.img{
    background-image: url(couplas.jfif);
   background-size: cover;
    height: 100vh;
    
}
.content{
text-align: center;
padding-top: 20%;
}
.content h2{
    margin-bottom: 20px;
    color: #AD0C98;
   
    font-size: 2.50rem;
}
.content h1{
    margin-bottom: 20px;
    color: #FF6E84;
    font-size: 30px;
    font-weight: bold;
}
.content1{
    background-color: rgb(214, 209, 209,0.5);
    padding: 20px;
    width: 70%;
    text-align: center;
    margin: 0  auto;

    border-left: 2px solid #AD0C98;
    border-right: 2px solid #AD0C98;
    
    
}
.content1 p{
    color: #FF4F9F;
    font-weight: bold;
    font-size: 30px;

}
.header{
    background-color:#AD0C98;
    height: 100px;
    line-height: 100px;
    border-top: 4px solid white;
    /* justify-content: space-around; */
    
}




.nav ul{
   
   
    justify-content: center;
    align-items: center;
    margin-left: 100px;

}
.nav ul li{
    padding:  0 10px;
    list-style: none;
    display: inline-block;
}
.nav ul li a{
    text-decoration: none;
    color: #9d9d9d;
    font-size: 16PX;
    font-weight: bold;
    
}

 .about{
    text-align: center;
    margin-top: 10%;
}
.about h4{
   
    font-size: 30px;
    
 
    color: #5a5a5a;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
   
  
    
    margin-bottom: 10px;
}
.about p{

    font-size: 16px;
    color: #5a5a5a;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;


}




.two{
    display: flex;  justify-content: center; margin-top: 5%;
}

.b{
    margin-left: 2%;
}
.b h1{
    color: #5a5a5a;
}
.b p{
    color: #6C6C6C;font-weight: 550;
}
.b h3{
    font-size: 1.50rem; color: gray;
}
.b .p{
color: #6C6C6C; margin-left: 6%; font-size: 17px; font-weight: bold;
}
.dis{
    display: flex;  justify-content: center; margin-top: 5%;
}
@media screen and (max-width: 600px) {
.two {
display: block;
width: 100%;
}
.dis{
    display: block;
width: 100%;

}
.img{
    width: 100%;
}
}



